/* CSS */
 





#formstart {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:200%;
	font-weight:bold;
}

.outline3 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:150%;
	font-weight:bold;
}

.outline4 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:120%;
	font-weight:bold;
}

#speakerinfo li {
	list-style: none;
}

#speakerinfo label {
	text-align: right;
	margin-right: .3em;
	width: 6.3em;  
	display: inline; 
}

.suggest_form label {
	text-align: right;
	margin-right: .3em;
	width: 6.3em;  
	display: inline; 
}

#speakerinfo label, input{
	margin: 3px;
}

.oneques label{
	text-align: right;
	margin-right: .3em;
	width: 6.3em;  
	display: inline; 
}

#propinfo li {
	list-style: none;
}

.form-instructions{
	font-style: italic;
    color: #575757;
}

input.reqfield{
	background: #fff495;
}

